* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex; /* CSS flexbox */
    align-items: center; /* align the elements in the container as center */
    justify-content: center; /* Pack items around the center */
    background: url("wallpaper.jpeg") fixed no-repeat; /* add a single image, centered */
    background-size: cover; /* covering the background image */
}


.login-form {
    width: 240px;
    height: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    overflow: hidden; /* Hidden when an element's content is too big to fit in its block formatting context */

}

.login-form::before{
    content: "";
    width: calc(100% + 20px);
    height: calc(100% + 10px);
    position: absolute;
    box-shadow: inset 0 0 0 200px rgba(255, 255, 255 , 0.2);  /* add shadow effects around an element's frame */
    filter: blur(5px); /* applies graphical effects like blur or color shift to an element */
    overflow: hidden;
}

.login-form h2 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #fff;
}

.login-form input,
.login-form button {
    background-color: aliceblue; /* background color can be changed according to different image */
    height: 30px;
    border: none;  /* no border */
    margin: 0.5em; /* margin area of the element */
}

/* represent a button in login-form that has received focus (triggered when the user clicks or taps on the corresponding element) */
.login-form button:focus {
    /* outline properties, similar to border */
    outline: 0;
}

.login-form button {
    margin-top: 20px;
    color: black;
    overflow: hidden;
    cursor: pointer;  /* mouse cursor when touching the button */
    position: relative;
    transition: 0.4s;
}
